In [3]:
# import necessary libraries    
import numpy as np  
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns   
from sklearn.model_selection import train_test_split    
from sklearn.linear_model import LinearRegression   
from sklearn import metrics 
from sklearn.preprocessing import PolynomialFeatures

In [4]:
! pip install pycaret

Requirement already satisfied: pycaret in c:\users\shaki\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: ipython>=5.5.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (8.15.0)
Requirement already satisfied: ipywidgets>=7.6.5 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (8.0.4)
Requirement already satisfied: tqdm>=4.62.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (4.65.0)
Requirement already satisfied: numpy<1.27,>=1.21 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (1.24.3)
Requirement already satisfied: pandas<2.2.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (2.0.3)
Requirement already satisfied: jinja2>=3 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (3.1.2)
Requirement already satisfied: scipy<=1.11.4,>=1.6.1 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (1.11.1)
Requirement already satisfied: joblib<1.4,>=1.2.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (1.2.0)
Requirement already satisfied: scikit-learn>1.4.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (1.4.2)
Requirement already satisfied: pyod>=1.1.3 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (2.0.2)
Requirement already satisfied: imbalanced-learn>=0.12.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (0.12.3)
Requirement already satisfied: category-encoders>=2.4.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (2.6.3)
Requirement already satisfied: lightgbm>=3.0.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (4.5.0)
Requirement already satisfied: numba>=0.55.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (0.57.1)
Requirement already satisfied: requests>=2.27.1 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (2.31.0)
Requirement already satisfied: psutil>=5.9.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (5.9.0)
Requirement already satisfied: markupsafe>=2.0.1 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (2.1.1)
Requirement already satisfied: importlib-metadata>=4.12.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (6.0.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (5.9.2)
Requirement already satisfied: cloudpickle in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (2.2.1)
Requirement already satisfied: deprecation>=2.1.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (2.1.0)
Requirement already satisfied: xxhash in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (2.0.2)
Requirement already satisfied: matplotlib<3.8.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (3.7.2)
Requirement already satisfied: scikit-plot>=0.3.7 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (0.3.7)
Requirement already satisfied: yellowbrick>=1.4 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (1.5)
Requirement already satisfied: plotly>=5.14.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (5.24.0)
Requirement already satisfied: kaleido>=0.2.1 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (0.2.1)
Requirement already satisfied: schemdraw==0.15 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (0.15)
Requirement already satisfied: plotly-resampler>=0.8.3.1 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (0.10.0)
Requirement already satisfied: statsmodels>=0.12.1 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (0.14.0)
Requirement already satisfied: sktime==0.26.0 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (0.26.0)
Requirement already satisfied: tbats>=1.1.3 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (1.1.3)
Requirement already satisfied: pmdarima>=2.0.4 in c:\users\shaki\anaconda3\lib\site-packages (from pycaret) (2.0.4)
Requirement already satisfied: packaging in c:\users\shaki\anaconda3\lib\site-packages (from sktime==0.26.0->pycaret) (23.1)
Requirement already satisfied: scikit-base<0.8.0 in c:\users\shaki\anaconda3\lib\site-packages (from sktime==0.26.0->pycaret) (0.7.8)
Requirement already satisfied: patsy>=0.5.1 in c:\users\shaki\anaconda3\lib\site-packages (from category-encoders>=2.4.0->pycaret) (0.5.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\shaki\anaconda3\lib\site-packages (from imbalanced-learn>=0.12.0->pycaret) (2.2.0)
Requirement already satisfied: zipp>=0.5 in c:\users\shaki\anaconda3\lib\site-packages (from importlib-metadata>=4.12.0->pycaret) (3.11.0)
Requirement already satisfied: backcall in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: decorator in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (2.15.1)
Requirement already satisfied: stack-data in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (5.7.1)
Requirement already satisfied: colorama in c:\users\shaki\anaconda3\lib\site-packages (from ipython>=5.5.0->pycaret) (0.4.6)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\shaki\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (6.25.0)
Requirement already satisfied: widgetsnbextension~=4.0 in c:\users\shaki\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (4.0.5)
Requirement already satisfied: jupyterlab-widgets~=3.0 in c:\users\shaki\anaconda3\lib\site-packages (from ipywidgets>=7.6.5->pycaret) (3.0.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\shaki\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\shaki\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\shaki\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\shaki\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\shaki\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (10.2.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\shaki\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\shaki\anaconda3\lib\site-packages (from matplotlib<3.8.0->pycaret) (2.8.2)
Requirement already satisfied: fastjsonschema in c:\users\shaki\anaconda3\lib\site-packages (from nbformat>=4.2.0->pycaret) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in c:\users\shaki\anaconda3\lib\site-packages (from nbformat>=4.2.0->pycaret) (4.17.3)
Requirement already satisfied: jupyter-core in c:\users\shaki\anaconda3\lib\site-packages (from nbformat>=4.2.0->pycaret) (5.3.0)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\shaki\anaconda3\lib\site-packages (from numba>=0.55.0->pycaret) (0.40.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shaki\anaconda3\lib\site-packages (from pandas<2.2.0->pycaret) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\shaki\anaconda3\lib\site-packages (from pandas<2.2.0->pycaret) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\shaki\anaconda3\lib\site-packages (from plotly>=5.14.0->pycaret) (8.2.2)
Requirement already satisfied: dash>=2.9.0 in c:\users\shaki\anaconda3\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (2.18.0)
Requirement already satisfied: orjson<4.0.0,>=3.8.0 in c:\users\shaki\anaconda3\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (3.10.7)
Requirement already satisfied: tsdownsample>=0.1.3 in c:\users\shaki\anaconda3\lib\site-packages (from plotly-resampler>=0.8.3.1->pycaret) (0.1.3)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in c:\users\shaki\anaconda3\lib\site-packages (from pmdarima>=2.0.4->pycaret) (3.0.11)
Requirement already satisfied: urllib3 in c:\users\shaki\anaconda3\lib\site-packages (from pmdarima>=2.0.4->pycaret) (1.26.16)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in c:\users\shaki\anaconda3\lib\site-packages (from pmdarima>=2.0.4->pycaret) (68.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shaki\anaconda3\lib\site-packages (from requests>=2.27.1->pycaret) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shaki\anaconda3\lib\site-packages (from requests>=2.27.1->pycaret) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shaki\anaconda3\lib\site-packages (from requests>=2.27.1->pycaret) (2024.2.2)
Requirement already satisfied: Flask<3.1,>=1.0.4 in c:\users\shaki\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.2)
Requirement already satisfied: Werkzeug<3.1 in c:\users\shaki\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.2.3)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\shaki\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\shaki\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\shaki\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (5.0.0)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\shaki\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (4.7.1)
Requirement already satisfied: retrying in c:\users\shaki\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.3.4)
Requirement already satisfied: nest-asyncio in c:\users\shaki\anaconda3\lib\site-packages (from dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (1.5.6)
Requirement already satisfied: comm>=0.1.1 in c:\users\shaki\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (0.1.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\shaki\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\shaki\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (7.4.9)
Requirement already satisfied: pyzmq>=20 in c:\users\shaki\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (23.2.0)
Requirement already satisfied: tornado>=6.1 in c:\users\shaki\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.3.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\shaki\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\shaki\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\shaki\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\shaki\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\shaki\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (305.1)
Requirement already satisfied: six in c:\users\shaki\anaconda3\lib\site-packages (from patsy>=0.5.1->category-encoders>=2.4.0->pycaret) (1.16.0)
Requirement already satisfied: wcwidth in c:\users\shaki\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=5.5.0->pycaret) (0.2.5)
Requirement already satisfied: executing in c:\users\shaki\anaconda3\lib\site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: asttokens in c:\users\shaki\anaconda3\lib\site-packages (from stack-data->ipython>=5.5.0->pycaret) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\shaki\anaconda3\lib\site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.2.2)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\shaki\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.1)
Requirement already satisfied: click>=8.0 in c:\users\shaki\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash>=2.9.0->plotly-resampler>=0.8.3.1->pycaret) (8.0.4)
Requirement already satisfied: entrypoints in c:\users\shaki\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (0.4)

In [5]:
# Importing dataset 
data = pd.read_csv('data_sepsis.csv')

In [4]:
data.head()

,AAMDC,AASDHPPT,ABAT,ABCB10,ABCC2,ABCC4,ABCC9,ABCD3,ABCF1,ABHD13,...,ZSCAN2,ZSCAN29,ZSCAN32,ZSWIM8,ZW10,ZYG11B,ZZZ3,Sex,Age,Mortality
0,7.302388,6.915275,3.880092,7.265628,3.524147,7.643898,4.941341,6.194789,6.798725,3.103448,...,4.501835,4.688715,7.762803,10.065096,7.719833,10.124158,7.126248,male,70,Dead
1,6.542649,6.049383,4.261556,6.668126,6.440577,8.045913,4.633716,5.779594,6.607670,4.384160,...,3.623360,5.467375,7.823195,10.677917,7.011917,10.424676,6.418867,male,64,Survived
2,6.988663,6.311620,5.817879,7.171268,4.780891,7.651797,3.805097,5.748838,6.802868,5.203732,...,5.544115,5.294168,7.761181,10.109725,7.519756,10.265863,6.998565,male,47,Survived
3,7.150255,6.560918,4.827277,7.124046,3.199669,7.161897,4.001520,5.872608,6.694096,3.056027,...,4.651321,4.865155,7.904202,9.781929,7.766247,9.663125,7.105418,female,71,Survived
4,6.509508,6.592467,5.487019,6.648482,3.878681,7.776908,4.488685,6.216506,6.082014,4.766600,...,3.046281,4.754909,8.046215,10.336220,6.798046,9.955113,6.572653,male,45,Survived

In [6]:
data.shape

(768, 3203)

In [7]:
# information about the data columns    
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Columns: 3203 entries, AAMDC to Mortality
dtypes: float64(3200), int64(1), object(2)
memory usage: 18.8+ MB

In [8]:
# checking for missing values   
data.isnull().sum()

AAMDC        0
AASDHPPT     0
ABAT         0
ABCB10       0
ABCC2        0
            ..
ZYG11B       0
ZZZ3         0
Sex          1
Age          0
Mortality    0
Length: 3203, dtype: int64

In [9]:
# statistical measures of the data  
data.describe()

,AAMDC,AASDHPPT,ABAT,ABCB10,ABCC2,ABCC4,ABCC9,ABCD3,ABCF1,ABHD13,...,ZRANB1,ZRANB2,ZSCAN2,ZSCAN29,ZSCAN32,ZSWIM8,ZW10,ZYG11B,ZZZ3,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,...,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,5.802189,5.501870,6.529969,6.298734,4.774065,5.975993,5.699479,5.575858,10.678446,4.851369,...,8.491417,7.529493,4.091797,6.234869,6.617057,25.839282,5.729323,9.357473,5.448706,62.032552
std,1.882366,2.004491,3.050841,2.288887,1.882708,2.331520,4.717395,1.898993,12.400496,2.036022,...,3.577360,2.872642,2.023379,2.693140,1.819765,45.552605,2.371106,3.600531,2.298791,16.717695
min,0.225310,0.000000,0.461819,0.000000,0.000000,0.000000,0.539796,0.000000,0.408188,0.000000,...,3.255223,0.682231,0.000000,0.382335,0.090512,4.034890,0.000000,0.918638,0.000000,17.000000
25%,4.137390,5.464955,5.434503,6.110750,4.036568,4.710417,4.152126,5.418478,6.208220,4.002699,...,7.277305,6.864040,3.806904,4.862905,6.079313,8.976762,4.492719,7.586011,5.050414,52.000000
50%,6.639377,6.215806,6.143348,7.174842,5.176482,6.880457,4.557100,6.025495,6.840739,4.519588,...,7.801256,7.245249,4.409176,5.504953,7.355235,10.128951,6.918483,9.943198,6.362551,65.000000
75%,7.121406,6.687174,7.058788,7.599177,5.867570,7.557085,5.619988,6.579970,7.384388,5.439567,...,8.546586,7.673071,4.979948,7.182490,7.787006,10.592313,7.540055,10.420546,6.939282,76.000000
max,12.189492,7.581547,37.489168,21.352588,7.918032,10.996449,78.802246,13.331327,107.002782,14.878031,...,33.374633,40.298113,7.564014,36.964950,11.965684,293.963625,8.544782,61.848673,8.259755,92.000000

In [10]:
# check for missing values
data.isnull().sum()

AAMDC        0
AASDHPPT     0
ABAT         0
ABCB10       0
ABCC2        0
            ..
ZYG11B       0
ZZZ3         0
Sex          1
Age          0
Mortality    0
Length: 3203, dtype: int64

In [11]:
# drop the missing values   
data = data.dropna()

In [12]:
# Summary statistics
data.describe()

,AAMDC,AASDHPPT,ABAT,ABCB10,ABCC2,ABCC4,ABCC9,ABCD3,ABCF1,ABHD13,...,ZRANB1,ZRANB2,ZSCAN2,ZSCAN29,ZSCAN32,ZSWIM8,ZW10,ZYG11B,ZZZ3,Age
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,...,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,5.800542,5.500480,6.529503,6.297635,4.772691,5.975072,5.701271,5.573498,10.682858,4.847194,...,8.491153,7.527663,4.089805,6.235290,6.617203,25.864422,5.730218,9.359542,5.446908,62.052151
std,1.883041,2.005428,3.052804,2.290178,1.883552,2.332901,4.720212,1.899105,12.407985,2.034060,...,3.579686,2.874068,2.023946,2.694872,1.820948,45.576997,2.372523,3.602423,2.299751,16.719773
min,0.225310,0.000000,0.461819,0.000000,0.000000,0.000000,0.539796,0.000000,0.408188,0.000000,...,3.255223,0.682231,0.000000,0.382335,0.090512,4.034890,0.000000,0.918638,0.000000,17.000000
25%,4.129800,5.464313,5.434262,6.110738,4.033939,4.708282,4.151419,5.416827,6.203343,4.002482,...,7.276071,6.863325,3.800658,4.860655,6.078536,8.990465,4.491136,7.584234,5.049214,52.000000
50%,6.638765,6.215113,6.141522,7.174982,5.175787,6.883158,4.558495,6.024649,6.840712,4.518962,...,7.800771,7.244326,4.408621,5.497787,7.356230,10.130750,6.919057,9.943490,6.360226,65.000000
75%,7.122387,6.690736,7.058872,7.599345,5.868850,7.557290,5.636975,6.574262,7.385532,5.410853,...,8.543273,7.668594,4.976258,7.182734,7.787283,10.592919,7.540162,10.421179,6.940768,76.000000
max,12.189492,7.581547,37.489168,21.352588,7.918032,10.996449,78.802246,13.331327,107.002782,14.878031,...,33.374633,40.298113,7.564014,36.964950,11.965684,293.963625,8.544782,61.848673,8.259755,92.000000

In [ ]:
# summarize the categorical data
data.describe(include='object')

         Sex Mortality
count    767       767
unique     2         2
top     male  Survived
freq     442       552

In [14]:
# model setup
from pycaret.regression import *

In [15]:
model= setup(data, target = 'Mortality', session_id = 123)